* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h2 {
	font-size: 30px;
	text-align: center;
}

/* Header */
.header {
	text-align: center;
	margin: 20px 0 40px;
	font-size: 40px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

/* Board */
.game-board {
	display: grid;
	justify-content: center;
	grid-template-columns: auto auto auto;
	margin: 30px;
}

/* Board cells */
.board-cell {
	display: flex;
	width: 130px;
	height: 130px;
	border: 1px solid black;
}

.buttons {
	display: flex;
	justify-content: center;
	gap: 20px;
}

/* Play again button */
#playAgain,
#reset {
	display: block;
	border-radius: 10px;
	background-color: black;
	margin: 20px 0;
	width: 100px;
	height: 45px;
	font-size: 15px;
	color: white;
	transition: transform 400ms;
}
/* Play again button on click */
#playAgain,
#reset:active {
	transform: scale(0.95);
	transition: transform 200ms;
}

/* Red badge */
.red {
	background: url(./images/red.png);
	background-size: cover;
}

/* Yellow badge */
.yellow {
	background-image: url(./images/yellow.png);
	background-size: cover;
}
